@import "tailwindcss";

@theme{
  --lato-font-family: "Lato", serif;

  --color-blue-dark: #2E3DA3;
  --color-blue-base: #5165E1;
  --color-blue-light: #8996EB;

  --color-gray-100: #151619;
  --color-gray-200: #1E2024;
  --color-gray-300: #535964;
  --color-gray-400: #858B99;
  --color-gray-500: #E3E5E8;
  --color-gray-600: #F9FAFA;

  --color-feedback-danger: #D03E3E;
  --color-feedback-open: #CC3D6A;
  --color-feedback-progress: #355EC5;
  --color-feedback-done: #508B26; 

  --text-xxl: 1.5rem;
  --text-lg: 1.25rem;
  --text-heading-md: 1rem;
  --text-sm: 0.875rem;
  --text-xs: 0.75rem;
  --text-xxs: 0.625rem;
}